* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: sans-serif, 'Times New Roman', Times, serif;
}

#main {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
}

#nav>h1 {
    font-size: 30px;
    font-weight: 100;
}

#nav #part-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav #part-2 a {
    text-decoration: none;
    color: #222;
    margin: 20px;
}

#nav #part-2 a:nth-last-child(1) {
    padding: 10px 26px;
    border: 1px solid #000;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}

h5 i {
    margin-left: 10px;
}

#nav #part-2 a:nth-last-child(1) #green {
    width: 100%;
    background-color: springgreen;
    position: absolute;
    top: 0%;
    left: -100%;
    height: 100%;
    transition: left 0.4s ease;
}

#nav #part-2 a:nth-last-child(1):hover #green {
    left: 0;
}

#nav #part-2 a:nth-last-child(1) h5 {
    font-weight: 100;
    position: relative;
    z-index: 99;
}

#main>h1 {
    font-size: 5.4vw;
    font-weight: 100;
    ;
    width: 55%;
    text-align: center;
    text-transform: capitalize;
    position: relative;
    z-index: 99;
    font-family: Arial;
}

#main>h1::after {
    content: "";
    position: absolute;
    width: 35%;
    height: 16px;
    background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
    left: 50%;
    bottom: -5%;
    transform: translate(-50%, 0);
    background-size: cover;
}

#main #img1 {
    height: 520px;
    width: 350px;
    position: absolute;
    top: 16%;
    left: 8.5%;
    border-radius: 10px;

}

#main #img2 {
    height: 220px;
    width: 265px;
    position: absolute;
    top: 18%;
    right: 23%;
    border-radius: 10px;
}

#main #img3 {
    height: 285px;
    width: 270px;
    position: absolute;
    right: 9%;
    top: 50%;
    border-radius: 10px;

}

#main img {
    transition: margin 0.7s ease;
}

#main img:hover {
    margin-top: -10px;
}
